:root {
  --color-60: #114232;
  --color-30: #87a922;
  --color-10: #fcdc2a;
  --color-font: #f7f6bb;
}

body {
  color: var(--color-font);
  background-color: var(--color-60);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: var(--color-30);
  padding: 40px 50px;
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-weight: 800;
  box-shadow: 0 7px 20px var(--color-10);
  margin-bottom: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: var(--color-30);
  height: min(280px);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card:hover,
.addBook:hover {
  box-shadow: 3px 3px 3px var(--color-10);
}

.card > h2 {
  height: min(80px);
  align-self: center;
  margin: 10px 0 10px 0;
}

.card > p {
  margin: 3px;
}

.card > .readUpdate {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: var(--color-10);
  font-size: 1.2rem;
  font-weight: 700;
}

.addBook {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 100px;
  margin: 20px 50px 20px 20px;
  border-radius: 20px;
  color: var(--color-font);
  background-color: var(--color-30);
  border: none;
}

dialog {
  border: 0;
  border-radius: 20px;
}

::backdrop {
  background-color: black;
  opacity: 0.6;
}

dialog > form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  height: 350px;
  width: 500px;
  padding: 30px;
}

form > button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  border-radius: 10px;
}
